<div class="card">
    <div class="card-content center-align">
        <img src="assets/images/logo.png" width="300px">
        <h4 class="white-text">ADD Stock</h4>
        <form class="create-form">
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="STOCK SYMBOL" id="stockSymbol" type="text" class="validate center-align">
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="SELL PRICE" id="sellPrice" type="text" class="validate center-align">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="BUY PRICE" id="buyPrice" type="text" class="validate center-align">
                </div>
            </div>
            <div class="card-action center-align">
                <!--Need to link it back to homepage-->
                <a href="/"><button type="button" class="btn btn-filter">View All</button></a>
                <button type="submit" class="btn btn-add" id="btn">Add Stock</button></a>
            </div>
        </form>
     </div>
</div>