<div class="row justify-content-center">

  <div class="col-md-1 "> </div>

  <div class="col-md-5 col-sm-12">
    <h1>Stock Watchlist</h1>
    <hr>
    <!-- Bootstrap list group - basic example -->
    <div class="row listCol">
     <ul class="list-group ">
        {{#each stock}}
     <li >
          <span>Stock Name: {{stockName}}</span>
          <img src={{image}} alt="burger" >
          <p>Price: ${{price}}</p>
          <p>Stock Symbol: {{stockSymbol}}</p>
           <hr>
           </li>
        {{/each}}
      </ul>
     
        
    </div>
  </div>
    
  <div class="col-md-1 "> </div>
</div>
</div>





<h2>Add A Stock</h2>
<form class="create-form">

  <div class="form-group">
    <label for="stockSymbol">Stock Symbol:</label>
    
    <input type="text" id="stockSymbol" name="name">
    <label for="maxPrice">Enter Max Price:</label>
    <input type="text" id="maxPrice" name="name">
  </div>

  <button type="submit">Add Stock</button>
</form>


  

