    <div class="valign-wrapper stock">
        <div class="valign" style="width:100%;">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 offset-m3">
                        <div class="card">
                            <div class="card-content center-align">
                                <img src="assets/images/logo.png">
                                <h4 class="white-text">Add Stock</h4>
                                <form>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input placeholder="STOCK SYMBOL" id="stockName" type="text" class="validate center-align">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input placeholder="BUY PRICE (LOWER LIMIT)" id="maxPrice" type="text" class="validate center-align">
                                        </div>
                                    </div>
                                     <div class="row">
                                        <div class="input-field col s12">
                                            <input placeholder="SELL PRICE (UPPER LIMIT)" id="maxPrice" type="text" class="validate center-align">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="card-action center-align">
                                <input type="submit" class="btn" id="btn" value="submit">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>