<div class="card">
  <div class="card-content center-align">
      <img src="assets/images/logo-horizontal.png">
      <h4 class="white-text">LIMIT STOCKS</h4>
      
      <!--START STOCK EXAMPLE-->
      <ul class="list-group ">
        {{#each stock}}
          <li >
            <div class="stock valign-wrapper">
                <div class="stockpic">
                    <img class="center-align" src="{{imageURL}}" alt="stockLogo">
                </div>
                <div class="stocksymbol ">
                    {{symbol}}
                </div>
                <div id="price" class="stockprice ">
                    ${{currentPrice}}
                </div>
                <div class="stockarrow ">
                    <img src="assets/images/arrow-up.png">
                </div>
                ${{limitprice}}
            </div>
          </li>
        {{/each}}
      </ul>
      <!--END STOCK EXAMPLE-->
      <form action="index.html">
          <div class="card-action center-align">
              <a href="/"><button type="button" class="btn">All</button></a>
              <a href="/api"><button type="button" class="btn">Add</button></a>
          </div>
      </form>
      
  </div>
</div>

