<div class="card">
  <div class="card-content center-align">
    <img class="center-align" src="{{imageURL}}" alt="stockLogo">
    <h4 class="white-text">ADD Stock</h4>
    <form class="update-form">
      <div class="row">
          <div class="stocksymbol">
            {{symbol}}
          </div>
      </div>

      <div class="row">
          <div class="stockprice" style="color:{{getColor changes}}">
            {{price}}
          </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
              <input placeholder="NEW SELL PRICE" id="newSellPrice" type="text" class="validate center-align">
          </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
              <input placeholder="NEW BUY PRICE" id="newBuyPrice" type="text" class="validate center-align">
          </div>
      </div>
          
      </div>
      <div class="card-action center-align">
          <!--Need to link it back to homepage-->
          <a href="/"><button type="button" class="btn">All</button></a>
          <a href="/"><button type="submit" class="btn" id="btn">Submit</button></a>
      </div>
    </form>
</div>