/* responsive */
@media (min-width: 300px) {
    body {
      background-color: #000; 
    }

    .card .card-content {
        padding:0px;
    }
    .stocksymbol {
        font-size: 11px;;
    }
    .stockprice {
        font-size: 10px;
        line-height: 3.5;
    }
    .heading {
        font-size: 11px;
    }

    .stockprice-limit{
        width: 30%;
        line-height: 2.1;
        font-size: 16px;
    }
    

}


@media (max-width: 600px) {
  .sitelogo {
      width: 70%;
  }

}


@media (min-width: 440px) {
    .stocksymbol {
        font-size: 18px;;
    }
    .stockprice {
        font-size: 16px;
        line-height: 2.6;
    }
    .heading {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    body {
        background-image: url("../images/bkg.jpg");
        background-size: cover;
        background-repeat: repeat;
    }

    .card .card-content {
        padding:24px;
    }
    .stocksymbol {
        font-size: 24px;;
    }
    .stockprice {
        margin-right: 5%;
    }
    .heading-price {
        font-size: 16px;
        margin-right: 5%;
    }

    .heading {
        font-size: 16px;
    }

    .stockprice-limit{
        width: 15%;
        font-size: 18px;
        
    }
}
@media (min-width: 992px) {
    .stockprice{
        font-size: 24px;
        line-height: unset;
    }
}
@media (min-width: 1200px) {
}