h1 {
    font-weight: bold;
    color: white;
}

h5 {
    color: #a4cd33;
}

.updatelogo {
    border-radius: 30px;
    width: 120px;
    height: 120px;
}

.stockwatch {
    width: 100%;
    height: 100%;
}

.stockwatchlogo {
    width: 60%;
}

.card {
    background-color: rgb(0,0,0,0.7);
    margin-top: 40px;
    border-radius: 30px;
}

.card .card-content h4 {
    text-transform: uppercase;
}

.card .card-content input {
    background-color: #222222;
    border-radius: 10px;
    border-bottom: 1px solid #a4cd33;
    color: #ffffff;
}

.card .card-content .browser-default {
    background-color: #222222;
    border-radius: 10px;
    border-bottom: 1px solid #a4cd33;
    color: #ffffff;
}

.card .card-content select{
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    height: 3.2rem;
}

.card .card-action input {
    font-size: 1.7em;
    height: 50px;
    padding: 0px 40px;
    border-radius: 30px;
    background-color: #a4cd33;
    color: #ffffff;
}

.heading {
    width: 100%;
    background: black;
    height: 40px;
    color: white;
    font-size: 14px;
}

.heading-logo {
    width: 100px;
}

.heading-logo-limit {
    width: 15%;
}

.heading-symbol {
    width: 25%;
}

.heading-symbol-limit {
    width: 25%;
} 

.heading-price {
    width: 30%;
}

.heading-price-limit {
    width: 30%;
}
.heading-button {
    width: 15%;
}

.heading-arrow {
    width: 10%;
    margin-left: 5%;
}

.stock {
    width: 100%;
    height: 80px;
    background: #2a2a2a;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.stockpic {
    width: 100px;
    height: 100%;
    float: left;
    margin-top: 20px;
}

.stockpic-limit {
    width: 15%;
    height: 100%;
    float: left;
    margin-top: 25px;
}

.stockpic img {
    height: 60px;
    width: 60px;
    border-radius: 5px;
    object-fit: fill;
}

.stockpic-limit img {
    height: 55px;
    width: 55px;
    border-radius: 5px;
    border: 1px solid #383838C;
    object-fit: fill;
}

.stocksymbol {
    width: 25%;
    color: white;
    font-size: 22px;
    font-weight: bold;
    float: left;
}

.stocksymbol-limit {
    width: 25%;
    color: white;
    font-size: 22px;
    font-weight: bold;
    float: left;
}

.stockbutton {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.limit .stockpic, .limit .stocksymbol, .limit .stockprice, .limit .stockarrow, .limit .limitprice, .limit .stockbutton {
width: 16.7%;
}


.stockprice {
    width: 30%;
    float: left;
    background-color: #000;
    font-size: 24px;
    border-radius: 20px; 
    margin-right: 10px;
    height: 40px
}

.stockprice-limit {
    width: 30%;
    float: left;
    background-color: #000;
    color: #FFF;
    font-size: 20px;
    border-radius: 20px; 
    margin-right: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.currentprice {
    width: 60%;
    text-align: center;
    height: 50px;
    background-color: #000;
    color: white;
    font-size: 18px;
    border-radius: 30px;
}

.stockarrow img {
    width: 35px;
    height: 35px;
}

.stockarrow {
    width: 10%;
    float: left;
}

.limitprice {
    width: 15%;
    color: white;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filterbutton {
    background-color: #3455d0;
    color: white;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    margin-right: 0;
}

.btn {
    border-radius: 250px;
    width: 140px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
}

.btn-update {
    border-radius: 20px;
    color: black;
    background: #4e81e9;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-delete {
    border-radius: 20px;
    color: black;
    background: #eb6060;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-filter {
    background-color: #a4cd33;
    color: black;
}

.btn-add {
    background-color: #3354cd;
}

.buttonfilter {
    background-color: #3455d0;
    color: white;
    border-radius: 525px;
    border: none;
}

.buttonadd {
    border-radius: 525px;
    border: none;
}
.card-action .btn {
    margin-bottom: 10px;
}


footer {
    width: 40%;
    background: black;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    color: white;
    margin-left:30%;
    margin-right: 30%;
    text-align: center;

}
