

h1 {
    font-weight: bold;
    color: white;
}

h5 {
    color: #a4cd33;
}

.updatelogo {
    border-radius: 30px;
    width: 120px;
    height: 120px;
}

.stockwatch {
    width: 100%;
    height: 100%;
}

.stockwatchlogo {
    width: 60%;
}


.card {
    background-color: rgb(0,0,0,0.7);
    margin-top: 40px;
}

.card .card-content h4 {
    text-transform: uppercase;
}

.card .card-content input {
    background-color: #222222;
    border-radius: 10px;
    border-bottom: 1px solid #a4cd33;
    color: #ffffff;
}

.card .card-content .browser-default {
    background-color: #222222;
    border-radius: 10px;
    border-bottom: 1px solid #a4cd33;
    color: #ffffff;
}

.card .card-content select{
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    height: 3.2rem;
}

.card .card-action input {
    font-size: 1.7em;
    height: 50px;
    padding: 0px 40px;
    border-radius: 30px;
    background-color: #a4cd33;
    color: #ffffff;
}

.heading {
    width: 100%;
    background: black;
    height: 40px;
    color: white;
    font-size: 14px;
}

/* footer {
    width: 100%;
    color: white;
    background-color: black;
    text-align: center;
} */

.heading-logo {
    width: 25%;
}

.heading-symbol {
    width: 25%;
}

.heading-price {
    width: 25%;
   
}

.heading-button {
    width: 25%;
}

.stock {
    width: 100%;
    height: 80px;
    background: #2a2a2a;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.stockpic {
    width: 25%;
    height: 100%;
    float: left;
    margin-top: 25px;
}

.stockpic img {
    height: 55px;
    width: 55px;
    border-radius: 5px;
    border: 1px solid #383838C;
    object-fit: fill;
}

.stocksymbol {
    display: inline-block;
    width: 25%;
    color: white;
    font-size: 28px;
    font-weight: bold;
    float: left;
}


.stockbutton {
    width: 25%;
}


.stockprice {
    width: 25%;
    float: left;
    background-color: #000;
    font-size: 24px;
    border-radius: 20px; 
    margin-right: 10px;
    height: 40px
}

.stockprice-limit {
    width: 20%;
    float: left;
    background-color: #000;
    color: #FFF;
    font-size: 24px;
    border-radius: 20px; 
    margin-right: 10px;
    height: 40px
}

.currentprice {
    width: 60%;
    text-align: center;
    height: 50px;
    background-color: #000;
    color: white;
    font-size: 18px;
    border-radius: 30px;
}

.stockarrow img {
    width: 44px;
    height: 44px;
}

.stockarrow {
    width: 20%;
    float: left;
}

.filterbutton {
    background-color: #3455d0;
    color: white;
}

.btn {
    border-radius: 250px;
    width: 140px;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
}

.btn-update {
    border-radius: 20px;
    color: black;
    background: #4e81e9;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

.btn-delete {
    border-radius: 20px;
    color: black;
    background: #eb6060;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;

}

.btn-filter {
    background-color: #a4cd33;
}

.btn-add {
    background-color: #3354cd;
}

.buttonfilter {
    background-color: #3455d0;
    color: white;
    border-radius: 525px;
    border: none;
}

.buttonadd {
    border-radius: 525px;
    border: none;
}
.card-action .btn {
    margin-bottom: 10px;
}

 /* responsive */
@media (min-width: 300px) {
    body {
      background-color: #000; 
    }
    .stockwatch .card img {
        width: 60%
    }
    .card .card-content {
        padding:0px;
    }
    .stocksymbol {
        font-size: 11px;;
    }
    .stockprice {
        font-size: 10px;
        line-height: 3.5;
    }
    .heading {
        font-size: 11px;
    }
    .stockpic img{
        height: 30px;
        margin-top: 13px;
    }
    .stockprice-limit{
        width: 30%;
        line-height: 2.1;
        font-size: 16px;
    }
    
    

}
@media (min-width: 440px) {
    .stocksymbol {
        font-size: 18px;;
    }
    .stockprice {
        font-size: 16px;
        line-height: 2.6;
    }
    .heading {
        font-size: 14px;
    }
}


@media (min-width: 768px) {
    body {
        background-image: url("../images/bkg.jpg");
        background-size: cover;
        background-repeat: repeat;
    }
    .stockwatch .card img {
        width: 30%
    }
    .card .card-content {
        padding:24px;
    }
    .stocksymbol {
        font-size: 24px;;
    }
    .stockprice {
        font-size: 18px;
        line-height: 2.3;
    }
    .heading {
        font-size: 16px;
    }
    .stockpic img{
        height: 45px;
        margin-top: 5px;
    }
    .stockprice-limit{
        width: 25%;
        font-size: 18px;
        
    }
}
@media (min-width: 992px) {
    .stockprice{
        font-size: 24px;
        line-height: unset;
    }
    
}

@media (min-width: 1200px) {
}