<div class="stock valign-wrapper">
    <div class="stockpic">
        <img class="center-align" src="images/google-new-logo-1030x541.jpg">
        </div>
        <div class="stocksymbol ">
        GOOG
        </div>
        <div class="stockprice ">
        $420
        </div>
        <div class="stockarrow ">
        <img src="images/arrow-up.png">
        </div>
</div>