  <!DOCTYPE html>
  <html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />    
    <title>Stock Watch</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="valign-wrapper stockwatch">
        <div class="valign" style="width:100%;">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 offset-m3">
                        <div class="card">
                            <div class="card-content center-align">
                                <img src="images/logo-horizontal.png">
                                <h4 class="white-text">ALL STOCKS</h4>
                               
                               <!--START STOCK EXAMPLE-->
                                <div class="stock valign-wrapper">
                                    <div class="stockpic">
                                        <img class="center-align" src="images/Apple_gray_logo (1).png">
                                    </div>
                                    <div class="stocksymbol ">
                                        AAPL
                                    </div>
                                    <div class="stockprice ">
                                        $123
                                    </div>
                                    <div class="stockarrow ">
                                        <img src="images/arrow-up.png">
                                    </div>
                                </div>
                                <!--END STOCK EXAMPLE-->

                                <!--START STOCK EXAMPLE-->
                                <div class="stock valign-wrapper">
                                    <div class="stockpic">
                                        <img class="center-align" src="images/microsoft-office-2013-professional-plus-vollversion-deutsch-32-64-bit-10-pc_2.jpg">
                                    </div>
                                    <div class="stocksymbol ">
                                        MSFT
                                    </div>
                                    <div class="stockprice ">
                                        $69
                                    </div>
                                    <div class="stockarrow ">
                                        <img src="images/arrow-down.png">
                                    </div>
                                </div>
                                <!--END STOCK EXAMPLE-->

                                <!--START STOCK EXAMPLE-->
                                <div class="stock valign-wrapper">
                                    <div class="stockpic">
                                        <img class="center-align" src="images/google-new-logo-1030x541.jpg">
                                    </div>
                                    <div class="stocksymbol ">
                                        GOOG
                                    </div>
                                    <div class="stockprice ">
                                        $420
                                    </div>
                                    <div class="stockarrow ">
                                        <img src="images/arrow-up.png">
                                    </div>
                                </div>
                                <!--END STOCK EXAMPLE-->
                                <form action="index.html">
                                    <div class="card-action center-align">
                                        <input type="submit" class="btn" value="Filter Stocks">
                                        <input type="submit" class="btn" value="Add Stock">
                                    </div>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
