  <div class="valign-wrapper stock">
        <div class="valign" style="width:100%;">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 offset-m3">
                        <div class="card">
                            <div class="card-content center-align">
                                <img src="images/logo-horizontal.png">
                                <h4 class="white-text">STOCKS WITHIN RANGE</h4>
                             
                                <form action="index.html">
                                    <div class="card-action center-align">
                                        <input type="submit" class="btn" value="Add Stock">
                                    </div>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>